#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


table {
  /* border-top-right-radius: 1em;
  border-top-left-radius: 4em; */
  box-shadow: -10px 10px rgb(31, 31, 31);
}
tr {
  background-color: rgb(233, 226, 226);
  color: rgb(1, 73, 109)
}

th {
text-transform: uppercase;
padding: 1em;
padding-right: em;
font-weight: 900;
background-color: rgb(20, 167, 27);
background-image: linear-gradient(  rgb(36, 90, 152) ,rgb(11, 53, 65) );
color: white;
border-radius: .25em;
}



td {
text-transform: uppercase;
padding: .8em;
width: 15em;
font-weight: bold;
;}

.arcticons--samsung-contacts {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M24 42.5c6.08 0 11.512-2.764 15.115-7.102c-1.338-7.136-7.59-12.54-15.115-12.54s-13.777 5.404-15.115 12.54C12.488 39.736 17.92 42.5 24 42.5'/%3E%3Ccircle cx='24' cy='12.702' r='7.202' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.contact-icon {
  margin-right: .25em;
  margin-bottom: -.12em;
  width: 1em;
}